<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="author" content="Jamal Natour" />
        <meta name="description" content="<%= yield :page_description -%>" />
        <meta name="keywords" content="<%= yield :page_keywords -%>" />
        <meta name="Generator" content="gen-html (c)2009 FumaSoftware" />
        <link rel="icon" type="image/png" href="/images/fuma_logo_col.png" />
	
        <title> <%= yield :page_title -%> </title>
        
        <%= yield :page_scripts -%>
   <%= javascript_include_tag :defaults -%>
   <%= stylesheet_link_tag 'shared' -%>
   <%= stylesheet_link_tag 'page' -%>
   <%= stylesheet_link_tag 'image' -%>
   <%= stylesheet_link_tag 'product' -%>
   <%= stylesheet_link_tag 'master' -%>
   <%= javascript_include_tag 'page' -%>
</head>

<% content_for :header_content_extra do %>
    <%= page_navigation_helper ' ' %>
<% end -%>
    
<body>
    <div id="wrapper">
      <div id="header">
                    <!-- left pane --> 
                    <%= link_to(image_tag("fuma_logo_299.png"),"/") %>
                        <%= yield :page_frame -%>
                        <%= render(:partial => 'users/user_bar') -%>
                        <div>
                          <%= yield :menubar_frame -%>

                        </div>
                      </div>
            <div id="content"  class="spacer">
            <% tabnav :main do -%>            
                      <div class="thick_bar_4col"></div>
                      <div id="client_frame">
                        <%= yield :client_frame -%>
                      </div>

              <p><%=  flash[:notice] %></p>
              <%= yield :sidebar_frame -%>
              <!--
              yield :header_content_extra
              yield :header_content_follow 
              -->
                        <%= yield :content_frame -%>
             <% end -%>
                  <%= yield :repeatnav_frame -%>
                  <p>&copy; 2009 FumaSoftware Limited - All Rights Reserved.</p>
            </div>
    </div>

    <div id="script_control">
      <%= yield :inline_script -%>
    </div>
</body>
</html> 
